# outputs
/BQN
/BQN.html
/BQN.js
*.wasm
*.cwasm
libcbqn.so

# build system things
/build/obj/
/build/singeliLocal
/build/replxxLocal
/build/bytecodeLocal
/build/interp
/src/singeli/gen

# files CBQN may create
/asm_*
CBQNHeapDump
.cbqn_repl_history
cbqn_repl.txt

# test temporary files
/test/ffi/ffiTest.o
/test/ffi/test.got
/test/ffi/shared.got
/test/ffi/sharedTest
/test/ffi/lib.so

# other
/local/
perf.*

# clangd
compile_commands.json
/.cache/

# things not used anymore, but still may be present in existing clones
/SingeliClone/
/obj/
/src/gen/