[submodule "build/singeliSubmodule"]
	path = build/singeliSubmodule
	url = https://github.com/mlochbaum/Singeli
[submodule "build/replxxSubmodule"]
	path = build/replxxSubmodule
	url = https://github.com/dzaima/replxx
[submodule "build/bytecodeSubmodule"]
	path = build/bytecodeSubmodule
	url = https://github.com/dzaima/cbqnBytecode
